<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.urban.basicsample"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-sdk android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_OWNER_DATA" />
    <uses-permission android:name="android.permission.READ_OWNER_DATA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_dp"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".core.SampleActivity"
            android:label="@string/basic_sample" >
        </activity>
        <activity
            android:name=".core.FPDisplay"
            android:label="FPDisplay" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddStudentActivity"
            android:label="@string/title_activity_add_student"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ScanActivity"
            android:label="@string/title_activity_scan"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name=".ListDetails"
            android:label="@string/title_activity_list_details" >
        </activity>
        <activity
            android:name=".StudentListActivity"
            android:label="@string/title_activity_student_list" >
        </activity>
        <activity
            android:name=".StudentAttListActivity"
            android:label="@string/title_activity_student_att_list" >
        </activity>
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file" >
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePassActivity"
            android:label="@string/title_activity_change_pass" >
        </activity>
        <activity
            android:name=".StudentActivity"
            android:label="@string/title_activity_student" >
        </activity>
        <activity
            android:name=".ChangeStudentActivity"
            android:label="@string/title_activity_change_student" >
        </activity>
    </application>

</manifest>